@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,600&display=swap');

:root {
  --feat-font: 'Cormorant Garamond', 'Times New Roman', Times, Georgia, serif;
  --feat-color: #3CB570;
  --text-color: #535353;
}

html, body {
  margin:0;
  padding:0;
}
body {
  font-size: 100%;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography */

h1, h2, h3, h4 {
  font-family: var(--feat-font);
  color: var(--feat-color);
}
h1 {
  font-style:italic;
}
h1 .visit {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:normal;
  font-weight: normal;
  padding-right: 0.3em;
  font-size: 0.6em;
}
header > h1 {
  font-size: 1.5 rem;
  line-height: 1.2em;
  text-align: left;
}
header > h1 a {
  text-decoration: none;
}
#posts h3 {
  font-style: italic;

}

p {
  line-height: 1.5em;
}
a, a:visited {
  color: var(--feat-color);
  cursor: pointer;
}

/* Sections */

header {
  color: var(--feat-color);
  padding: 0 15px;
  margin: 8px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 3px 10px #00000067;
  height: 50px;
  position: absolute;
  top: 0;
  width: 95%;
  display: flex;
  align-items:center;
  border-radius: 13px;
  z-index: 99;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
header .loginout {
  position: absolute;
  right:20px;
}
#map {
  z-index: 1;
}
#content {
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 10%;
  padding: 0 15px;
  margin: 8px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 8px #00000050;
  border-radius: 13px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
.Infobar .closebtn {
  position: absolute;
  right: 15px;
}
.Infobar #languages {
  padding: 0.2rem 0.2 rem;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  display: flex;
}
.Infobar #languages a {
  width: fit-content;
  height: 1.4em;
  box-shadow: 2px 2px 3px #00000010;
  border-radius: 0.9em;
  color: var(--text-color);
  background-color: #ffffff;
  padding: 0.2em 1em;
  margin: 0 0 0.4em 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
#posts {
  display:flex;

}
.FBposts {
  flex: 50%;
}
.TransPosts {
  flex: 50%;
}
.posts-box p {
  background-color:#ffffff;
  border-radius: 13px;
  box-shadow: 3px 3px 6px #00000023;
  padding: 1em;
  margin: 0.8em;
}
.TransPosts p {
  cursor: pointer;
}
.soundicon {
  display:inline;
}

.Modal {
  z-index: 999;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  bottom: 15%;
  padding: 0 15px;
  margin: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 8px #00000050;
  border-radius: 13px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
.Modal h1 {
  font-size: 3.6rem;
}
.Modal p {
  color: var(--feat-color);
  text-align: left;
  padding: 1em 4em;
}
.Modal p.technote {
  color: var(--text-color);
}
.Modal ol {
  color: var(--feat-color);
  text-align: left;
  padding: 1em 4em;
  margin-left: 3em;
}
.Modal a.login {
  font-family: var(--feat-font);
  color: var(--feat-color);
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 8px #00000050;
  border-radius: 23px;
  padding:0.2em 0.5em;
}
.Modal.triggered {
	animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}
@keyframes slide-in-bottom {
	0% {
	  transform: translateY(80px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
}
@keyframes slide-in-top {
	0% {
	  transform: translateY(-80px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
}

